---
whiskers:
  version: "2.3.0"
  matrix:
    - flavor
    - accent
  filename: "themes/{{flavor.identifier}}/{{accent}}/theme.json"
---
{
  "author": "Catppuccin",
  "identifier": "com.catppuccin.{{flavor.identifier}}-{{accent}}",
  "name": "Catppuccin",
  "styles": [
    {
      "name": "Catppuccin {{flavor.name}} - {{flavor.colors[accent].name}}",
      "entry": "catppuccin-{{flavor.identifier}}-{{accent}}.scss"
    }
  ]
}
