:root {
  --baseColor: @base !important;
  --baseColorMix: @mantle !important;
  --sidebarColor: @crust !important;
  --sidebarColorMix: @crust !important;
  --ciderColor: @red !important;
  --modalBackground: @base !important;
  --textColor: @text !important;
  --selected: @surface0 !important;
  --keyColor: @blue !important;
  --keyColor-rollover: lighten(@blue, 2%) !important;
}

.settings-panel {
  backdrop-filter: blur(2px);
  background: fade(@mantle, 50%);
  .settings-window {
    background: @mantle;
    .tab-content {
      background: @base;
    }
    .list-group-item-dark {
      background-color: @surface0;
    }
  }
}
.cd-mediaitem-list-item:hover {
  background: fade(@surface2, 30%);
}

.album-header {
  background: fade(@mantle, 50%);
  border-bottom: unset;
  padding-bottom: 1rem;
}

// buttons, switches, widgets
.md-select,
.md-btn,
.more-btn-round,
.search-btn,
.reload-btn,
.md-input-number > input {
  background: @surface1 !important;
  color: @text;
  &::placeholder {
    color: @subtext0;
  }
}

input[type="checkbox"][switch] {
  background: @surface1;
  &::before {
    background: @text;
  }
  &:checked::before {
    background: @text;
  }
}

.content-inner input[type="search"] {
  background: @surface1;
  color: @text;
  &::placeholder {
    color: @subtext0;
  }
}

.search-input:focus {
  border-color: var(--keyColor);
}
.app-chrome-item.search input {
  background: @crust !important;
}

.md-btn.md-btn-primary {
  background: var(--keyColor) !important;
  border-color: var(--keyColor) !important;
  color: @crust !important;
}

// the Home/Listen Now/Browse/Radio buttons
#app.twopanel
  .app-chrome:not(.chrome-bottom)
  .app-chrome--center
  .top-nav-group {
  background: @crust;
}

.app-chrome.chrome-bottom {
  background: @crust !important;
}

.playback-button--small:hover::before {
  background: fade(@crust, 40%);
}

.podcasts-list,
.podcasts-search {
  background: @mantle !important;
}
.podcast-list-header {
  background: @crust !important;
}

.app-sidebar-item {
  color: @subtext1;
}

._svg-icon {
  background: @subtext0;
}

.artist-chip__name {
  color: @text;
}

.nav-pills .nav-link {
  color: @subtext1;
}
